// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box


body
  margin: 0
  padding-top: 60px

  .navbar-brand > img
    display inline

  .page-title
    text-align center
    padding-bottom 10px
    margin-bottom 10px
    border-bottom: 1px solid #dae1e8
    box-shadow: 0 2px 1px -1px #FFFFFF

  .page-subtitle
    margin-top 9px
    margin-bottom 25px

  .panel-title
    margin-bottom 5px

  .animated
    -webkit-animation-duration: 0.3s

  .items-list
    -webkit-backface-visibility: hidden
    -webkit-perspective: 1000
    -webkit-transform: translateZ(0)
    overflow-x: hidden
    overflow-y: scroll
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0px
    border-radius: 4px
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd

  .items-list.dragged
    -webkit-transform: translateZ(-2000)
    overflow-x: visible
    overflow-y: visible

  .items-list:empty
    border-top: 0px

  .list-group-item:first-child
    border-top: 0px

  .loading-list
    position absolute
    width 100%

  .list-group-item
    -webkit-backface-visibility: hidden
    -webkit-perspective: 1000
    -webkit-transform: translateZ(-100)

  .list-group-item.dragged
    // -webkit-perspective: 10000
    -webkit-transform: translateZ(10000)
    z-index 10000

  .searchFilter
    margin-bottom: 15px

  .loading-list > h1
    color: #949494

  // .info-panel
  //   padding: 20px 20px 10px 10px

  .control-icon
    font-size: 18px
    opacity .2
    color: #000
    font-weight bold
    text-shadow: 0 1px 0 #fff

  .light-icon
    font-size: 18px
    opacity .2
    color: #000
    font-weight bold
    text-shadow: 0 1px 0 #fff

  .form-control-static
    color: #555
    border-bottom: 1px solid #ccc
    padding-left: 5px

  .nav-pills > li.active > a
    background-color: #4387bf

  a, label, .panel-title
    color: #696D73


