doctype html
html
  head
    title Web Scanner
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(content='yes', name='apple-mobile-web-app-capable')

    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/css/font-awesome.css')

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,800,700', rel='stylesheet', type='text/css')

    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');

  body
